 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /*
    :root {
        --primary-action-background-color: #662d91;
        --primary-action-text-color: #fff;
        --secondary-background-color: #666;
        --secondary-background-gradiant: linear-gradient(#7e7e7e, #aaa);
        --secondary-text-color: #333;
        --default-margin-top: 1rem;
    }
    */

    header {
        color: #333 /* var(--secondary-text-color) */;
        background: linear-gradient(#7e7e7e, #aaa) /* var(--secondary-background-gradiant) */;
        background-color: #666 /* var(--secondary-background-color) */;
        box-shadow: 1px 1px 5px 1px #666 /* var(--secondary-background-color) */;
    }

    main {
        margin-top: 1rem /* var(--default-margin-top) */;
    }

    #link, .paste-information {
        margin-bottom: 1rem /* var(--default-margin-top) */;
        color: #fff /* var(--primary-action-text-color) */;
        background-color: #662d91 /* var(--primary-action-background-color) */;
        border: 1px solid #662d91 /* var(--primary-action-background-color) */;
    }

    .show#link, .show.paste-information {
        left: 0;
    }

    #link .title {
        margin-bottom: 1rem /* var(--default-margin-top) */;
    }

    #link .link {
        width: calc(100% - 35px - 1rem) /* var(--default-margin-top) */;
    }

    #copy-link {
        margin-left: 1rem /* var(--default-margin-top) */;
    }

    #copy-link svg {
        fill: #fff /* var(--primary-action-text-color) */;
    }

    .form-paste {
        margin-top: 1rem /* var(--default-margin-top) */;
        align-items: flex-start;
    }

    .form-paste textarea {
        width: 100%
    }

    .form-action {
        margin-top: 1rem /* var(--default-margin-top) */;
    }

    button {
        color: #fff /* var(--primary-action-text-color) */;
        background-color: #662d91 /* var(--primary-action-background-color) */;
    }

    footer {
        margin-top: 1rem /* var(--default-margin-top) */;
        color: #333 /* var(--secondary-text-color) */;
        background: linear-gradient(#7e7e7e, #aaa) /* var(--secondary-background-gradiant) */;
        background-color: #666 /* var(--secondary-background-color) */;
    }
}
