:root {
    --primary-action-background-color: #662d91;
    --primary-action-text-color: #fff;
    --secondary-background-color: #666;
    --secondary-background-gradiant: linear-gradient(#ccc, #aaa);
    --secondary-text-color: #333;
    --default-margin-top: 1rem;
}
